* {
  box-sizing: border-box;
}
html,
body {
  background-image: linear-gradient(
    to left bottom,
    #000000,
    #0a0808,
    #12100f,
    #171514,
    #1c1a18,
    #23211e,
    #292824,
    #2f2f2a,
    #3a3a33,
    #46453c,
    #525045,
    #5e5c4f
  );
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
}

* {
  box-sizing: border-box;
}

.board {
  background-color: aliceblue;
  display: i;
  box-sizing: border-box;
  color: #000000;
  table-layout: fixed;
  position: relative;
  width: 100%;
  cursor: pointer;
  border: 20px;
}

.background-modal {
  background-color: #292824;
  display: inline-table;
  box-sizing: border-box;
  table-layout: fixed;
  position: relative;
  width: 100%;
  cursor: pointer;
  border: 20px;
  height: 500px;
  width: 500px;
  margin: auto;
}

.modal {
  visibility: hidden;
  background-color: yellow;
  height: 100px;
  width: 200px;
}
/* .show {
    visibility: hidden;
  } */

button {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;

  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin-top: 20px;
}
button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}
button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

#reset-button {
  display: none;
  cursor: pointer;
}

.data {
  margin-bottom: 15px;
  display: flex;
}

.data-child {
  margin-left: 15px;
}
